
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">客服管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            跑马灯修改 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Sysnotice/edit')}" method="post" enctype="multipart/form-data" >
                <div class="lei">
                    <p>
                        <label><font>*</font>服务器：：</label>
                        起始区:<input class ="sr" style="width: 100px" type="text" name="begin_clothes" value="{$arr.begin_clothes}"/>-终止区:<input class ="sr" style="width: 100px" type="text" name="end_clothes" value="{$arr.end_clothes}">
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>类别：</label>
                        <select name="type" class ="dx">
                            <if condition="$vo.type eq 1">
                                <option value="1" selected="selected">定时播报</option>
                                <option value="0">临时播报</option>
                                <else/>
                                <option value="1" >定时播报</option>
                                <option value="0" selected="selected">临时播报</option>
                            </if>

                        </select>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>开始时间：</label>
			<input class="datainp" id="dateinfo" type="text" placeholder="请选择"  readonly value="{$arr.begin_time}"  name="begin_time" class ="sr">
                     <!--   <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" id="start_time" name="begin_time" class ="sr" value="{$arr.begin_time}"></p>-->
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>播报次数：</label>
                        <input name="num" id="end_time" class ="sr" value="{$arr.num}">
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>间隔时长：</label>
                        <input type="text" name="systime" class ="sr" value="{$arr.systime}">秒
                    </p>
                </div>


                <div class="lei">
                    <p>
                        <label><font>*</font>公告内容：</label>
                        <textarea name="content" style="width:500px;height:300px;position: relative;">{$arr.content}</textarea>
                    </p>
                </div>
                <input class="ztj" type="hidden" name="sysnotice_id" value="{$arr.sysnotice_id}"/>
                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
            </form>


        </div>

    </div>




</div>
<script type="text/javascript">
    //jeDate.skin('gray');
	
    jeDate({
		dateCell:"#dateinfo",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})

    //alert("YYYY/MM".match(/\w+|d+/g).join("-"))
</script>
<include file="Public:footer"/>