/*每页公用*/
div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,fieldset,form,label,table,tbody,tr,th,td,input,button{margin:0;padding:0;border:0}
body{font-size:12px;margin:0 auto;background:#FFFFFF;font-family:'Microsoft YaHei',Helvetica,Arial,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a,a:active,a:hover,a:focus,a:visited{text-decoration:none}

ol,ul,li{list-style:none}
.fl{float:left}
.fr{float:right}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}
.navbar-color{background:#3294DD }
.navbar-color2{background: #DCEDFA}
.logo{
    height: 50px;
    padding: 10px 15px;
}
.navbar-default .logo img{width:150px;}

.icon-tu{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #FFffff;
    margin-top:4px;
}
.navbar-collapse{padding:0}
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
    border-bottom: none !important;
}
.header_right{
    margin-top:5px;
}
.header_right li{
    float: left;
    width:40px;
    text-align: center;
    margin-right:5px;
}
.header_right li img{width:18px;}
.header_right li span{display:block;font-size:14px;color:#FFffff;padding-top:3px; }
/*首页*/
@media (min-width: 768px){
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    #side-sy{display:none}
    .header_right{display:block}
}
#page-wrapper {
    padding: 0 15px;
    background-color: white;
}
@media (max-width: 768px){
    #side-sy{display:block}

    .header_right{display:none}
}
.nav>li>a{font-size:14px;}
.nav>li ul li a{padding-left:45px;}

.panel-body tr td{text-align: center}

.btn_css{margin: 10px 0 0 15px}

.tree { min-height:20px; padding:19px;  margin-bottom:20px;  background-color:#fbfbfb;  border:1px solid #999;
    -webkit-border-radius:4px;  -moz-border-radius:4px;   border-radius:4px;   -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);   box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {   list-style-type:none;   margin:0;  padding:10px 5px 0 5px;   position:relative	}
.tree li::before, .tree li::after {  content:'';   left:-20px;   position:absolute;   right:auto }
.tree li::before {  border-left:1px solid #999;  bottom:50px;  height:100%;  top:0;  width:1px}
.tree li::after {  border-top:1px solid #999;   height:20px;   top:25px;  width:25px}
.tree li span {  -moz-border-radius:5px; -webkit-border-radius:5px;	 border:1px solid #999; border-radius:5px;   display:inline-block;  padding:8px 8px;  text-decoration:none}
.tree li.parent_li>span {  cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after {   border:0}
.tree li:last-child::before {  height:30px	}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;  border:1px solid #94a0b4;   color:#000
}

.glyphicon-tag{color: #36b100;margin-left: 5px;}
.badge{margin-left: 5px;background-color: #a6ad43;}
