<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
     <script src="http://106.15.137.174/Ali/public/js/jquery-1.7.2.min.js"></script>
    <LINK href="http://106.15.137.174/Ali/public/admin/css/sp.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="http://106.15.137.174/Ali/public/js/jQuery.js"></script>
    <script type="text/javascript" src="http://106.15.137.174/Ali/public/js/jqplot.js"></script>
    <script src="http://106.15.137.174/Ali/public/laydate/laydate.js"></script>
    <link rel="stylesheet" href="http://106.15.137.174/Ali/public/admin/css/pagination.css">
    <script charset="utf-8" src="http://106.15.137.174/Ali/public/admin/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="http://106.15.137.174/Ali/public/admin/kindeditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="http://106.15.137.174/Ali/public/admin/kindeditor/plugins/code/prettify.js"></script>

</HEAD>
<style>
    .lei p {
        display:inline-block;
        text-align: right;
        width:256px;
    }
    table{border-right:1px solid #CCD5DE;border-bottom:1px solid #CCD5DE;text-align: center;}
    table  td{border-left:1px solid #CCD5DE;border-top:1px solid #CCD5DE;}
    table thead td{background-color: #BDE1FC;}
    table thead tr,table tbody tr{
        width:100%;
        height:40px;
    }

    table tbody tr:nth-child(odd){
        background-color: #fff;
    }
    table tbody tr:nth-child(even){
        background-color: #F0F7FC;
    }

</style>
<BODY>
<script type="text/javascript">
    function userselect() {
        var game_user_name=$("#game_user_name").val();
        var clothes=$("#clothes").val()
        var aj = $.ajax( {
            url:'{:U("Email/userselect")}',
            data:{
                game_user_name:game_user_name,
                db_id:clothes,
            },
            type:'get',
            cache:false,
            dataType:'text',
            success:function(data) {
                if(data!=null) {

                 var obj=eval(data);
                    var arr=new Array();
                    $("#adu").html("");
                    for(var i=0;i<obj.length;i++){
                        arr[i]="<tr> <td>"+obj[i].uid+"</td><td>"+obj[i].uname+"</td><td>"+obj[i].level+"</td></tr>";
                    }
                    for (var i = 0; i < obj.length; i++) {
                        $("#adu").append(arr[i]);
                    }


                }
            }
        })
    }
</script>
<div class="headr_bottom">

    <div class="header_place"><img src="__ROOT__/public/admin/images/p_11.jpg">您当前所处位置：
        <span>客服管理</span>-&gt;<span>修改邮件</span></div>
</div>
<div class="container">
    <h4>基础信息</h4>
    <div>
        <h4>用户ID查找</h4>
        <div class="lei" style="margin-left:-13%">
            <p>
                <span>*</span>
                <span>用户名称 ：</span>
            </p>
            <input class ="sr" type="text"  id="game_user_name"/>
            <input  type="button" value="&nbsp;查找&nbsp;" onclick="userselect()"/>
        </div>
        <table  border="0" cellspacing="0" cellpadding="10" width="30%" style="margin-left:6%">
            <thead  id="ahu">
            <tr>
                <td width="10%">用户ID</td>
                <td width="10%">用户名称</td>
                <td width="10%">用户等级</td>
            </tr>
            </thead>
            <tbody id="adu">

            </tbody>

        </table>
    </div>
    <form class="xq" action="{:U('Email/add')}" method="post" enctype="multipart/form-data">
        <div class="lei">
            <p>
                <span>*</span>
                <span>服务器：</span>
            </p>
            <select name="clothes" id="clothes">
                <volist name="arr" id="vo">
                    <option value="{$vo.db_id}">{$vo.clothes}</option>
                </volist>
            </select>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>角色id：</span>
            </p>
            <textarea rows="5" cols="63" name="game_user_ids"></textarea>格式：角色ID，多个‘,’隔开 如：10001,10002
        </div>
       <div class="lei">
            <p>
                <span>*</span>
                <span>金钱 ：</span>
            </p>
            <input type="text" name="money" class ="sr" value="0">
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>钻石 ：</span>
            </p>
            <input type="text" name="acers" class ="sr" value="0">
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>物品 ：</span>
            </p>
            <textarea rows="5" cols="63" name="goods_ids"></textarea>格式：物品ID:叠加数量,多个‘,’隔开(可选：1~10) 如：10001:1,10002:1
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>标题 ：</span>
            </p>
            <input type="text" name="title" class ="sr">
        </div>
        <div class="qdtj">

        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>内容 ：</span>
            </p>
            <textarea rows="5" cols="63" name="content"></textarea>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>发送者 ：</span>
            </p>
            <input type="text" name="sender" class ="sr" value="GM">
        </div>


        <input class="ztj" type="submit" name="sub" value="确定"/>
    </form>
    <div>
        <h4>道具ID查找</h4>
        <div class="lei" style="margin-left:-13%">
            <p>
                <span>*</span>
                <span>道具名称 ：</span>
            </p>
            <input class ="sr" type="text"  id="goods_name"/>
            <input  type="button" value="&nbsp;查找&nbsp;" onclick="goodsselect()"/>
        </div>
        <table  border="0" cellspacing="0" cellpadding="10" width="50%">
            <thead  id="ah">
            <tr>
                <td width="10%">道具ID</td>
                <td width="10%">道具名称</td>
                <td width="10%">描述</td>
            </tr>
            </thead>
            <tbody id="ad">

            </tbody>

        </table>
    </div>

</div>
<script type="text/javascript">
    function goodsselect(){
        var goods_name=$("#goods_name").val();
        console.log(goods_name);
        var aj = $.ajax( {
            url:'{:U("Invitation/goodsselect")}',
            data:{
                goods_name:goods_name,
            },
            type:'get',
            cache:false,
            dataType:'text',
            success:function(data) {
                if(data!=null) {
                    var obj=eval(data);
                    var arr=new Array();
                    $("#ad").html("");
                    for(var i=0;i<obj.length;i++){
                        arr[i]="<tr> <td>"+obj[i].itemid+"</td><td>"+obj[i].itemname+"</td> <td>"+obj[i].itemdescription+"</td></tr>";
                    }
                    for (var i = 0; i < obj.length; i++) {
                        $("#ad").append(arr[i]);
                    }


                }
            }
        })
    }
</script>
</BODY>
</HTML>