
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">道具日志</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            道具日志 <div style="clear: both;"></div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length" id="dataTables-example_length">
                            <select style="margin-left: 0px; width: 15%;" onchange="choice(1)" id="clothes"
                                    class="btn btn-default">
                                <option>..选服务器..</option>
                                <option value="0">全服</option>
                                <volist name="clostu" id="vo">
                                    <eq name="vo.db_id" value="$db_id">
                                        <option value="{$vo.db_id}" selected="selected">{$vo.clothes}</option>
                                        <else/>
                                        <option value="{$vo.db_id}">{$vo.clothes}</option>
                                    </eq>
                                </volist>
                            </select>&nbsp&nbsp&nbsp<label>选择日志时间</label>&nbsp&nbsp&nbsp<input class="btn btn-default"
                                                                                               onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                                                                               id="start_time" value="{$Stime}">
                            &nbsp&nbsp至&nbsp&nbsp&nbsp<input class="btn btn-default"
                                                             onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                                             id="end_time" value="{$Etime}">
                            <button class="btn btn-default" id="search-operator-btn" type="button" onclick="Cuselect()">
                                <i class="fa fa-search"></i>搜索
                            </button>
                            <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="exl()">导出</button><font color="red">（导出最大数量不得超过2万条）</font>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6" style="width: 70%;">
                        <div class="dataTables_length" id="dataTables-example_length">
                            <span><label>物品编号:</label>
                                    <input class="form-control" id="type" type="text" value="{$prop}" placeholder="道具名称" size="10px">
                                &nbsp&nbsp
                                  <label>玩家ID:</label>
                                    <input class="form-control" id="game_user_id" type="text" value="{$role_id}" placeholder="玩家ID" size="10px">
                                &nbsp&nbsp
                            <label>角色名称:</label>
                                    <input class="form-control" id="game_user_name" type="text"  value="{$role_name}" placeholder="角色名称" size="10px">
                                &nbsp&nbsp
                             <label>原因:</label>
                                    <input class="form-control" id="cause" type="text" value="{$item_reason}" placeholder="原因" size="10px">
                                &nbsp&nbsp
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 table-responsive">

                        <table class="table table-striped  table-bordered table-hover dataTable " id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                            <thead>
                            <tr>
                                <td width="10%">时间</td>
                                <td width="10%">玩家ID</td>
                                <td width="10%">玩家名称</td>
                                <td width="5%">玩家等级</td>
                                <td width="15%">原因</td>
                                <td width="10%">物品名称</td>
                                <td width="10%">变化类型</td>
                                <td width="10%">剩余</td>
                            </tr>
                            </thead>
                            <tbody id="ad">
                            <volist name="Log" id="ko">
                                <tr>
                                    <td>{$ko.LogTime}</td>
                                    <td>{$ko.role_id}</td>
                                    <td>{$ko.role_name}</td>
                                    <td>{$ko.role_ChangeLife}重{$ko.role_level}级</td>
                                    <td>{$ko.item_reason}</td>
                                    <td>{$ko.name}</td>
                                    <td ><eq name="ko.change_type" value="0"><font color="red">消耗{$ko.item_use.0.count}个</font></td>
                                   <else/><font color="green">获得{$ko.item_get.0.count}个</font></td></eq>
                                    <td>{$ko.item_left.0.count}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="b-page">{$page}</div>
                </div>
            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>




</div>
<script type="text/javascript">
    var url="{$urls}";
    function money_type(a){
        location.href=url+"index.php?m=Home&c=Prop&a=index&value="+a;
    }
    function Cuselect(){
        var value="{$value}"
        var clothes=$("#clothes").val();
        var start_time=$("#start_time").val();
        console.log(start_time)
        var end_time=$("#end_time").val();
        var game_user_id=$("#game_user_id").val();
        var game_user_name=$("#game_user_name").val();
        var goods_name=$("#type").val();
        var cause=$("#cause").val();
       location.href="index.php?m=Home&c=Prop&a=index&value="+value+"&db_id="+clothes+"&start_time="+start_time+"&end_time="+end_time+"&game_user_id="+game_user_id+"&game_user_name="+game_user_name+"&goods_name="+goods_name+"&cause="+cause;

    }
    function exl(){
        var value="{$value}"
        var clothes=$("#clothes").val();
        var start_time=$("#start_time").val();
        console.log(start_time)
        var end_time=$("#end_time").val();
        var game_user_id=$("#game_user_id").val();
        var game_user_name=$("#game_user_name").val();
        var goods_name=$("#type").val();
        var cause=$("#cause").val();
        location.href="index.php?m=Home&c=Prop&a=exl&value="+value+"&db_id="+clothes+"&start_time="+start_time+"&end_time="+end_time+"&game_user_id="+game_user_id+"&game_user_name="+game_user_name+"&goods_name="+goods_name+"&cause="+cause;
    }
</script>
<script>

    var num= parseInt("{$value}");

    $(function(){
        var arr=new Array();
        if(num==-1){
            $('.bt_con ul li').eq(0).addClass("active")

        }else if(num==1){
            $('.bt_con ul li').eq(1).addClass("active")
        }

    })

</script>


<script>
    $(function() {
        $(window).bind("load resize", function() {
            var topOffset = 50;
            var width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }
            var height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        $("#side-menu>li").each(function () {
            $(this).click(function(){
                $(this).find('ul').slideDown();
                $(this).siblings().find('ul').slideUp();
            })
        })
    });
</script>



</body>
</html>