<include file="Public:header"/>

<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">平均在线人数</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            平均在线人数趋势 <div style="clear: both;"></div>
        </div>

       <!--<select style="margin-left: 0px; width: 10%;height: 1.5%" onchange="choice(1)" id="clothes" class="btn btn-default">
            <option>...选择游戏服务器...</option>
            <volist name="clostu" id="vo">
                <eq name="vo.db_id" value="$db_id">
                    <option value="{$vo.db_id}" selected="selected">{$vo.clothes}</option>
                    <else/>
                    <option value="{$vo.db_id}">{$vo.clothes}</option>
                </eq>
            </volist>
        </select>-->
        从<input class="btn btn-default" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" id="stime" value="{$stime}">
        到<input class="btn btn-default" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" id="etime" value="{$etime}">
        <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="idselect()"><i class="fa fa-search"></i>搜索</button>
        <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="exl()">导出</button>




        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div id="chart1"></div>
                </div>


            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>




</div>
<script>
    var www_url="{$www_url}";

    function idselect() {
        var clothes=$("#clothes").val();
        var stime=$("#stime").val();
        var etime=$("#etime").val();
      

        location.href=www_url+"index.php?m=Home&c=ACU&a=index&db_id="+clothes+"&stime="+stime+"&etime="+etime;

    }
    function exl(){
        var clothes=$("#clothes").val();
        var stime=$("#stime").val();
        var etime=$("#etime").val();
        

        location.href=www_url+"index.php?m=Home&c=ACU&a=exl&db_id="+clothes+"&stime="+stime+"&etime="+etime;

    }

    var obj='{$jsoBj}';
    var obj = eval(obj);
    var stu=new Array();
    var rus= new Array();
    for (var i =0; i<obj.length; i++) {
        stu[i]=obj[i].nums;

    }
    //  var a={$Stime};
    var maxN = eval("Math.max(" + stu.toString() + ")")+500;
    stu=stu.reverse();
    var data = [stu];
    var data_max = maxN; //Y轴最大刻度
    var line_title = ["用户平均在线人数","B"]; //曲线名称
    var y_label = "数量"; //Y轴标题
    var x_label = "时间"; //X轴标题
    var x = [{$Stime}]; //定义X轴刻度值
    var title = "这是标题"; //统计图标标题
    j.jqplot.diagram.base("chart1", data, line_title, "用户平均在线人数", x, x_label, y_label, data_max, 1);


    // 两分钟刷新
    setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒
        window.location.reload();//页面刷新
    },240000);

</script>
<include file="Public:footer"/>