
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">系统管理</h1>
        </div>
    </div>
    <a href="{:U('clothes/index')}"><button class="btn btn-primary" >返回</button></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            区服新增 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Clothes/edit')}" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
               <div class="lei">
                     <p>
                        <label><font>*</font>区服id：</label>
                        <input class ="sr" type="text" placeholder="区服id" name="db_id" id="db_id" value="{$arr.db_id}" />
                    </p>
                </div>
              <!--  <div class="lei">
                    <p>
                        <label><font>*</font>区号：</label>
                        <input class ="sr" type="text" placeholder="" name="clothes_num" value="{$arr.clothes_num}" id="clothes_num"/>
                    </p>
                </div>-->
                <div class="lei">
                    <p>
                        <label><font>*</font>区/服名称：</label>
                        <input class ="sr" type="text" placeholder="" name="clothes" value="{$arr.clothes}" id="clothes"/>
                    </p>
                </div>
               <!-- <div class="lei">
                    <p>
                        <label><font>*</font>服务器开启时间：</label>
                        <input class ="sr" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" id="start_time" value="{$arr.start_time}" name="start_time">

                    </p>
                </div>-->
               <!-- <div class="lei">
                    <p>
                        <label><font>*</font>本地数据库名称：</label>
                        <input class ="sr" type="text" placeholder="" name="localhost_db_name" value="{$arr.localhost_db_name}" readonly/>
                    </p>
                </div>-->
                <div class="lei">
                    <p>
                        <label><font>*</font>外接数据库名称：</label>
                        <input class ="sr" type="text" placeholder="" name="game_db_name" value="{$arr.game_db_name}" id="game_db_name"/>
                    </p>
                </div>


                <div class="lei">
                    <p>
                        <label><font>*</font>外接数据库连接/IP：</label>
                        <input class ="sr" type="text" placeholder="" name="game_db_host" value="{$arr.game_db_host}" id="game_db_host"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>外接数据库端口号：</label>
                        <input class ="sr" type="text" placeholder="" name="game_db_port" value="{$arr.game_db_port}" id="game_db_port"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>外接数据库用户名：</label>
                        <input class ="sr" type="text" placeholder="" name="game_db_user" value="{$arr.game_db_user}" id="game_db_user"/>
                    </p>
                </div>

                <div class="lei">
                    <p>
                        <label><font>*</font>外接数据库密码：</label>
                        <input class ="sr" type="text" placeholder="" name="game_db_pwd" value="{$arr.game_db_pwd}" id="game_db_pwd"/>
                    </p>
                </div>
                <!--<div class="lei">
                    <p>
                        <label><font>*</font>IP：</label>
                        <input class ="sr" type="text" placeholder="" name="ip" value="{$arr.ip}" id="ip"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>服务器端口：</label>
                        <input class ="sr" type="text" placeholder="" name="db_port" value="{$arr.db_port}" id="db_port"/>

                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>服务器状态：</label>
                        <input class ="sr" type="text" placeholder="" name="status" value="{$arr.status}" id="status"/> 1:火爆  2：新服 0:维护
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>是否推荐：</label>
                        <if condition="$arr.type eq 0 ">
               	 <input  type="radio" placeholder="" name="type" value="0" checked="checked" style="width: 5%" /> 否
               	 <input  type="radio" placeholder="" name="type" value="1" style="width: 5%"/>是
                <else />
                	<input  type="radio" placeholder="" name="type" value="0" style="width: 5%"/> 否
                	<input  type="radio" placeholder="" name="type" value="1" checked="checked" style="width: 5%" />是
            </if>	
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>redis连接地址：</label>
                        <input class ="sr" type="text" placeholder="" name="redis_ip" value="{$arr.redis_ip}"/>
                    </p>
                </div>

                <div class="lei">
                    <p>
                        <label><font>*</font>redis端口：</label>
                        <input class ="sr" type="text" placeholder="" name="redis_port" value="{$arr.redis_port}" />
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>redis库：</label>
                        <input class ="sr" type="text" placeholder="" name="redis_db" value="{$arr.redis_db}" />
                    </p>
                </div>
<div class="lei">
                    <p>
                        <label><font>*</font>redis 密码：</label>
                        <input class ="sr" type="text" placeholder="" name="redis_psw" value="{$arr.redis_psw}"/>
                    </p>
                </div>
<div class="lei">
                    <p>
                        <label><font>*</font>IP白名单：</label>
                        <textarea name="iplist"placeholder="61.183.71.86,多个‘;’隔开 如：61.183.71.86;61.183.71.86" style="width:500px;height:150px;position: relative;">{$arr.iplist}</textarea>
                    </p>
                </div>-->

              <!--  <input class="ztj" type="hidden" name="db_id" value="{$arr.db_id}"/>-->
                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
            </form>


        </div>

    </div>




</div>

<script type="text/javascript">
    function toVaild(){
        var clothes_num=$("#clothes_num").val();
        var clothes=$("#clothes").val();
        var start_time=$("#start_time").val();
        var localhost_db_name=$("#localhost_db_name").val();
        var game_db_name=$("#game_db_name").val();
        var game_db_host=$("#game_db_host").val();
        var game_db_port=$("#game_db_port").val();
        var game_db_user=$("#game_db_user").val();
        var game_db_pwd=$("#game_db_pwd").val();
        var ip=$("#ip").val();
        var db_port=$("#db_port").val();
        var status=$("#status").val();

        if(clothes_num==null){
            alert("区号不可为空");
            return false;
        }else if(clothes==""){
            alert("服务器名称不可为空");
            return false;
        }else if(start_time==""){
            alert("开服不可为空");
            return false;
        }else if(localhost_db_name==""){
            alert("本地数据库不可为空");
            return false;
        }else if(game_db_name==""){
            alert("外接数据库名称不可为空");
            return false;
        }else if(game_db_host==""){
            alert("外接数据库连接IP不可为空");
            return false;
        }else if(game_db_port==""){
            alert(" 外接数据库端口号不可为空");
            return false;
        }else if(game_db_user==""){
            alert("外接数据库用户名不可为空");
            return false;
        }else if(game_db_pwd==""){
            alert("外接数据库密码不可为空");
            return false;
        }else if(ip==""){
            alert("ip不可为空");
            return false;
        }else if(db_port==""){
            alert("服务器端口不可为空");
            return false;
        }else if(status==""){
            alert("服务器状态不可为空");
            return false;
        }else{
            return true;
        }


    }
</script>
<include file="Public:footer"/>