
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">后台权限列表</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            权限列表 <div style="clear: both;"></div>
        </div>
        <a href="{:U('Auth/add')}">  <button type="button" class="btn btn-primary btn_css">添加</button></a>
        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12 table-responsive">

                        <table class="table table-striped  table-bordered table-hover dataTable " id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>名称</td>
                                <td>权限</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody id="ad">
                            <volist name="arr" id="vo">
                                <tr>
                                    <td width="10%">{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td><textarea cols="100" role="40">{$vo.auth_name}</textarea></td>
                                    <td><a href="{:U('Auth/edit',array('id'=>$vo['id']))}"><input type="button" value="编辑"></a>
                                        &nbsp;<a href="{:U('Auth/del',array('id'=>$vo['id']))}"><input type="button" value="删除"></a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="b-page">{$page}</div>
                </div>
            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>




</div>
<script>
    $(function() {
        $(window).bind("load resize", function() {
            var topOffset = 50;
            var width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }
            var height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        $("#side-menu>li").each(function () {
            $(this).click(function(){
                $(this).find('ul').slideDown();
                $(this).siblings().find('ul').slideUp();
            })
        })
    });
</script>



</body>
</html>