<h1><{$Think.lang.preferential_goods_info_edit}></h1>

<form id="preferentialEditPost">
    <table class="tab_style_table" style="width:100%;min-width: 1200px">

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_id}></td>
            <td>
                <input name="goodsid" id="p_goods_id" type="text" class="easyui-numberbox" data-options="min:1,required:true"  readonly="readonly"/>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_explain}></td>
            <td>
                <input name="comment" id="p_comment" class="easyui-textbox" data-options="required:true" value="<{$shop_goods['comment']}>">
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_name_text_id}></td>
            <td>
                <select    id="preferential_name_id_edit" class="easyui-combobox" validtype="preferential['#preferential_name_id_edit']"  data-options="editable:false,panelHeight:'300'"  style="width: 160px" >
                </select>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_name_text_explain}></td>
            <td >
                <textarea disabled="disabled" id="preferential_content"></textarea>
            </td>
        </tr>

        <tr>

            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_multiple_text_id}></td>
            <td>
                <select id="preferential_multiple_id" class="easyui-combobox"  data-options="editable:false,panelHeight:'300'"  style="width: 160px" >
                </select>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_multiple_text_explain}></td>
            <td>
                <textarea disabled="disabled" id="preferential_multiplee_content"></textarea>
            </td>

            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_position}></td>
            <td>

                <input name="position" id="p_position" class="easyui-numberbox"  data-options="required:true" >

            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_goods_iocn}></td>
            <td>
                <textarea  name="icon"  id="icon_uploads"  ></textarea>
                <div id="icon_upload_explain" style="width:160px;white-space:pre-wrap;word-wrap:break-word;" ></div>
            </td>


        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_prompt_type}></td>
            <td>
               <span>
                   <input type="radio" name="prompttype" value="0" ><{$Think.lang.preferential_info_prompt_one}></input>
                   <input type="radio" name="prompttype" value="1" ><{$Think.lang.preferential_info_prompt_two}></input>
                </span>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_count_downe}></td>
            <td>
                <span>
                    <input type="radio" name="showcountdown" value="0" ><{$Think.lang.preferential_info_content_one}></input>
                    <input type="radio" name="showcountdown" value="1"><{$Think.lang.preferential_info_content_two}></input>
                </span>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_limit_buy}></td>
            <td>
            <span>
                <input type="radio" name="showlimitbuy" value="0" ><{$Think.lang.preferential_info_content_one}> </input>
                <input type="radio" name="showlimitbuy" value="1" ><{$Think.lang.preferential_info_content_two}> </input>
            </span>
            </td>

            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_limit_buy_count}></td>
            <td>
                <input name="limitbuycount" id="limit_buy_count" class="easyui-numberbox"  data-options="min:0,required:true" value="<{$shop_goods['limitbuycount']}>">*<{$Think.lang.preferential_limit_buy_count_info}>
            </td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_money_type}></td>
            <td>
                <select  name="moneytype"  id="preferential_money_type" class="easyui-combobox" validtype="preferential['#preferential_money_type']"  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
                    <option value="-1"><{$Think.lang.public_use_no_choice}></option>
                    <foreach name="money_type" key="textid" item="textname" data-options="editable:false,panelHeight:'300'">
                        <option value="<{$textid}>" ><{$textname}></option>
                    </foreach>
                </select>
            </td>

            <td colspan="2" style="padding: 0px">
                <table class="tab_style_table" style="width: 100%">
                    <tr>
                        <td class="tab_style_bgcolor" style="width: 99px">
                            AppStoreId
                            <br/>
                            <{:l("public_info_cash_yes")}>
                        </td>
                        <td>
                            <input id="appstoreid_edit" class="easyui-textbox"   >
                        </td>
                    </tr>
                    <tr>
                        <td class="tab_style_bgcolor" style="width: 99px">
                            PlayStoreId
                            <br/>
                            <{:l("public_info_cash_yes")}>
                        </td>
                        <td>
                            <input id="playstoreid_edit" class="easyui-textbox" >
                        </td>
                    </tr>
                </table>
            </td>

            <td class="tab_style_bgcolor" ><{:l("preferential_time_start")}><br/>(UTC<{:l("content_api_time")}>)</td>
            <td>
                <input name="starttime" id="p_start_time" class="easyui-datetimebox"data-options="editable:false,showSeconds:true,required:true" value="<{$shop_goods['starttime']}>" style="width: 160px">
            </td>
            <td class="tab_style_bgcolor" ><{:l("preferential_time_end")}>><br/>(UTC<{:l("content_api_time")}>)</td>
            <td>
                <input name="endtime" id="p_end_time" class="easyui-datetimebox" data-options="editable:false,showSeconds:true,required:true" value="<{$shop_goods['endtime']}>" style="width: 160px">
            </td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_batch_add}></td>
            <td>
                <a id="batch_add_but" href="javascript:void(0);" ><{$Think.lang.preferential_batch_add_info}></a>
            </td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_need_min_rank}></td>
            <td>
                <input name="needminrank" id="needminrank" class="easyui-numberbox"  data-options="min:1,max:20,required:true">
                <a href="javascript:void(0);" class="explanin" ><{$Think.lang.content_api_explain}></a>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_need_max_rank}></td>
            <td>
                <input name="needmaxrank" id="needmaxrank" class="easyui-numberbox"  data-options="min:1,max:20,required:true">
                <a href="javascript:void(0);" class="explanin" ><{$Think.lang.content_api_explain}></a>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_need_min_historic_rank}></td>
            <td>
                <input name="minhisrank" id="minhisrank" class="easyui-numberbox"  data-options="min:1,max:20,required:true" >
                <a href="javascript:void(0);" class="explanin" ><{$Think.lang.content_api_explain}></a>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.preferential_need_max_historic_rank}></td>
            <td>
                <input name="maxhisrank" id="maxhisrank" class="easyui-numberbox"  data-options="min:1,max:20,required:true" >
                <a href="javascript:void(0);" class="explanin" ><{$Think.lang.content_api_explain}></a>
            </td>
        </tr>

        <for start="1" end="11" >
            <tr>
                <td class="tab_style_bgcolor" style="width: 100px"><{$Think.lang.preferential_rank_price1k}>_<{$i*2-1}></td>
                <td>
                    <input name="price<{$i*2-1}>"   id="rankprice<{$i*2-1}>" class="easyui-numberbox price_money_edit"  data-options="min:1,required:true">
                </td>
                <td class="tab_style_bgcolor" style="width: 100px"><{$Think.lang.preferential_rank_award}>_<{$i*2-1}></td>
                <td>
                    <select  name="award<{$i*2-1}>"  id="rankaward<{$i*2-1}>" class="easyui-combobox awarddata" validtype="preferential['#rankaward<{$i*2-1}>']" data-options="panelHeight:'300'"  style="width: 100px" >

                    </select>
                </td>
                <td class="tab_style_bgcolor" style="width: 100px"><{$Think.lang.preferential_rank_price1k}>_<{$i*2}></td>

                <td>
                    <input name="price<{$i*2}>" id="rankprice<{$i*2}>" class="easyui-numberbox price_money_edit"  data-options="min:1,required:true" >
                </td>
                <td class="tab_style_bgcolor" style="width: 100px"><{$Think.lang.preferential_rank_award}>_<{$i*2}></td>
                <td>
                    <select  name="award<{$i*2}>"  id="rankaward<{$i*2}>" class="easyui-combobox awarddata" validtype="preferential['#rankaward<{$i*2-1}>']" data-options="panelHeight:'300'"  style="width: 100px" >

                    </select>
                </td>
            </tr>
        </for>

    </table>
</form>

<div style="text-align:center;padding: 20px">

    <a id="preferential_edit_post" href="javascript:void(0);" class="easyui-linkbutton" data-options="size:'large',iconAlign:'top'" style="width:250px;height:60px;"><span style="font-size:18px;">&nbsp;&nbsp;&nbsp;<{:l("public_use_determine")}>&nbsp;&nbsp;&nbsp;</></a>
    <a id="preferential_edit_return" href="javascript:void(0);" class="easyui-linkbutton" data-options="size:'large',iconAlign:'top'" style="width:250px;height:60px;"><span style="font-size:18px;">&nbsp;&nbsp;&nbsp;<{:l("public_but_return")}>&nbsp;&nbsp;&nbsp;</></a>

</div>
<script type="text/javascript">

    var getsystemdate = getsystemdata();
    var shop_name = JSON.parse('<{$shop_name_id}>');
    var multipleid = JSON.parse('<{$shop_multiple_id}>');
    $(document).ready(function () {

        $("#preferential_name_id_edit").combobox({
            valueField: 'value',
            textField: 'label',
            data: shop_name,
            onChange: function (n, o) {
                if (n == "") {
                    $("#preferential_content").val('');
                } else {
                    $("#preferential_content").val(n);
                }
            }
        });

        $("#preferential_describe_id").combobox({
            onChange: function (n, o) {
                if (n == "") {
                    $("#preferential_describe_content").val('');
                } else {
                    $("#preferential_describe_content").val(n);
                }
            }
        });

        $("#preferential_multiple_id").combobox({
            valueField: 'value',
            textField: 'label',
            data: multipleid,
            onChange: function (n, o) {
                if (n == "") {
                    $("#preferential_multiplee_content").val('');
                } else {
                    $("#preferential_multiplee_content").val(n);
                }
            }
        });

        $("#preferential_money_type").combobox({
            onChange: function (n, o) {
                if(n=='1'||n=='2'){
                    $('#appstoreid_edit').textbox('clear');
                    $('#playstoreid_edit').textbox('clear');
                    $('#appstoreid_edit').textbox({disabled:true});
                    $('#playstoreid_edit').textbox({disabled:true});
                    $('.price_money_edit').numberbox('clear');
                    $('.price_money_edit').numberbox({editable:false});
                }else {
                    $('.price_money_edit').numberbox('setValue',1);
                    $('.price_money_edit').numberbox({editable:false});

                    $('#appstoreid_edit').textbox('setValue','');
                    $('#playstoreid_edit').textbox('setValue','');
                    $('#appstoreid_edit').textbox({disabled:false});
                    $('#playstoreid_edit').textbox({disabled:false});

                }
            }
        });

        $.ajax({
            type:'post',
            url:"<{:U('rewardListAllPost')}>",
            success:function (data) {
                localStorage.setItem('awar_data', JSON.stringify(data));
                $('.awarddata').combobox({
                    data:data,
                    valueField:'value',
                    textField:'text'
                });
                var data = JSON.parse(localStorage.getItem('preferential_data'));
                for (var i=1;i<21;i++){
                    $('#rankaward'+i).combobox("select", data['award'+i]);
                }

            }
        });
    });

    $('#batch_add_but').linkbutton({
        iconCls: 'icon-add',
    });

    $('#preferential_goods').tabs({
        onLoad: function(title){
            var data = JSON.parse(localStorage.getItem('preferential_data'));
            $('#p_goods_id').numberbox("setValue", data.goods);
            $('#p_comment').textbox("setValue", data.comment);
            for(var i =0;i<shop_name.length;i++){
                if(shop_name[i].label==data.nameid){
                    $("#preferential_name_id_edit").combobox('select',shop_name[i].value);
                }
            }

            for(var i =0;i<multipleid.length;i++){
                if(multipleid[i].label==data.multipleid){
                    $("#preferential_multiple_id").combobox('select',multipleid[i].value);
                }
            }

            $('#p_position').numberbox("setValue", data.position);
            $('#icon_uploads').val(data.icon);

            $("input[name='prompttype']").each(function(){
                if($(this).val() ==data.prompttype){
                    $(this).prop( "checked", true );
                }
            });

            $("input[name='showcountdown']").each(function(){
                if($(this).val() ==data.showcountdown){
                    $(this).prop( "checked", true );
                }
            });

            $("input[name='showlimitbuy']").each(function(){
                if($(this).val() ==data.showlimitbuy){
                    $(this).prop( "checked", true );
                }
            });

            $("#preferential_money_type").combobox('select',data.moneytype);
            if(data.moneytype=='1'||data.moneytype=='2'){
                $('#appstoreid_edit').textbox('clear');
                $('#playstoreid_edit').textbox('clear');
                $('#appstoreid_edit').textbox({disabled:true});
                $('#playstoreid_edit').textbox({disabled:true});
            }else {
                $('#appstoreid_edit').textbox('setValue',data.appstoreid);
                $('#playstoreid_edit').textbox('setValue',data.playstoreid);
                $('.price_money_edit').numberbox('setValue',1);
                $('.price_money_edit').numberbox({editable:false});
            }
            $('#limit_buy_count').numberbox("setValue", data.limitbuycount);

            $('#p_start_time').datetimebox("setValue", data.starttime);

            $('#p_end_time').datetimebox("setValue", data.endtime);

            $('#needminrank').numberbox("setValue", data.needminrank);

            $('#needmaxrank').numberbox("setValue", data.needmaxrank);

            $('#minhisrank').numberbox("setValue", data.minhisrank);

            $('#maxhisrank').numberbox("setValue", data.maxhisrank);

            for (var i=1;i<21;i++){
                $('#rankprice'+i).numberbox("setValue", data['price'+i]);
                $('#rankaward'+i).combobox("select", data['award'+i]);
            }

        }
    });

    $('#batch_add_but').bind('click', function(){
        $('body').append('<div id="batch_add"></div>');
        $('#batch_add').dialog({
            title: '<{$Think.lang.preferential_batch_add}>',
            width: 700,
            height: 240,
            closed: false,
            cache: false,
            href:"<{:U('batchAdd')}>",
            modal: true,
            buttons:[{
                text:'<{$Think.lang.public_use_determine}>',
                handler:function(){
                    batchAddForm();
                }
            },{
                text:'<{$Think.lang.public_use_cancel}>',
                handler:function(){
                    $('#batch_add').dialog('close',true);
                }
            }],
            onLoad: function () {
                if($("#preferential_money_type").combobox('getValue')=='0'){
                    $('#rank_price1k_num').numberbox('setValue',1);
                    $('#rank_price1k_num').numberbox({disabled:true});
                };
                var data = JSON.parse(localStorage.getItem('awar_data'));
                $('#rank_award1_num').combobox({
                    data:data,
                    valueField:'value',
                    textField:'text'
                });
            }
        });
    });

    function batchAddForm() {
        var batch = $("#batch_add_form").serializeArray();
        for (var i =0 ;i<batch.length;i++){
            var value =  batch[i].value==""?null:batch[i].value
            eval("var " + batch[i].name + "="+value+";");
        }
        if(rank_price1k_min<=rank_price1k_max&&rank_price1k_max!=null&&rank_price1k_min!=null){
            var money_type = $("#preferential_money_type").combobox('getValue');
            if(money_type=='1'||money_type=='2') {
                if (rank_price1k_num != null) {
                    for (var i = rank_price1k_min; i <= rank_price1k_max; i++) {
                        $('#rankprice' + i).numberbox('setValue', rank_price1k_num);
                    }
                } else {
                    ShowErrorMsg('<{$Think.lang.public_prompt_information}>', "<{$Think.lang.preferential_rank_num_error}>");
                    return false;
                }
            }
        }else if (rank_price1k_min!=rank_price1k_max){
            ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_rank_section_error}>");
            return false;
        }
        if(rank_award1_min<=rank_award1_max&&rank_award1_max!=null&&rank_award1_min!=null){
            if(rank_award1_num!=null){
                for (var i = rank_award1_min;i<=rank_award1_max;i++){
                    $('#rankaward'+i).combobox("select", rank_award1_num);
                }
            }else {
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_num_error}>");
                return false;
            }
        }else  if (rank_award1_min!=rank_award1_max){
            ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_section_error}>");
            return false;
        }
        if(rank_price1k_num==rank_award1_num && rank_price1k_num==null){
            ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.public_data_no_error}>");
            return false;
        }
        $('#batch_add').dialog('close',true);
    }

    $(function () {
        $('#preferential_edit_return').bind('click', function(){
            var tab = $('#preferential_goods').tabs('getSelected');
            tab.panel('refresh', "<{:U('preferentialList')}>");
        });

        $('#reward_add_return').bind('click', function(){
            var tab = $('#preferential_goods').tabs('getSelected');
            tab.panel('refresh', "<{:U('rewardList')}>");
        });

        $("#preferential_content").val($('#preferential_name_id_edit').combobox('getValue'));

        $("#preferential_multiplee_content").val($('#preferential_multiple_id').combobox('getValue'));

        $(".explanin").tooltip({
            content:"<{$Think.lang.info_api_explain}>"
        });
        $('#preferential_edit_post').bind('click', function(){
            var data = $('#preferentialEditPost').serializeArray();
//            data.push({name:"nameid",value:$('#preferential_name_id_edit').combobox('getText')});

            var nameid = $('#preferential_name_id_edit').combobox('getValue')==-1?'0':$('#preferential_name_id_edit').combobox('getText');
            var multipleid =  $('#preferential_multiple_id').combobox('getValue')==-1?'0':$('#preferential_multiple_id').combobox('getText');

            data.push({name:"multipleid",value:multipleid});
            data.push({name:"nameid",value:nameid});
            var info = new Array(); var temporary = new Array();
            for (var i =0 ;i<data.length;i++){
                if(data[i].value!=""){
                    info[data[i].name] = data[i].value;
                    temporary[i]=data[i];
                }
            }
            if($("#preferential_money_type").combobox('getValue')=='0'){
                temporary.push({name:"appstoreid",value:$('#appstoreid_edit').numberbox('getValue')});//Apple商店ID
                temporary.push({name:"playstoreid",value:$('#playstoreid_edit').numberbox('getValue')});//Google商店ID
            }else {
                temporary.push({name:"appstoreid",value:""});//Apple商店ID
                temporary.push({name:"playstoreid",value:""});//Google商店ID
            }

            if(!info['goodsid']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_id_error}>");
                return false;
            }
            if(!info['comment']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_comment_error}>");
                return false;
            }else if (info['comment'].length>125){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_comment_gt_error}>");
                return false;
            }

            if(!info['nameid']||info['nameid']==0){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_nama_id_error}>");
                return false;
            }

            if(!info['position']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_position_error}>");
                return false;
            }


            if(!info['prompttype']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_prompt_type_error}>");
                return false;
            }

            if(!info['showcountdown']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_countdown_error}>");
                return false;
            }

            if(!info['showlimitbuy']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_limit_buy_error}>");
                return false;
            }

            if(!info['moneytype']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_moneyt_ype_error}>");
                return false;
            }

            if(!info['limitbuycount']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_limit_buy_count_error}>");
                return false;
            }

            if(!info['starttime']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_start_time_error}>");
                return false;
            }

            if(!info['endtime']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_end_time_error}>");
                return false;
            }

//            if(Date.parse(info['starttime'].replace(/-/g, "/"))/1000<Date.parse(getsystemdate.replace(/-/g, "/"))/1000){
//                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.info_start_data}>");
//                return false;
//            }
            if(Date.parse(info['starttime'].replace(/-/g, "/"))/1000>=Date.parse(info['endtime'].replace(/-/g, "/"))/1000){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.info_end_data}>");
                return false;
            }
            if(!info['needminrank']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_need_min_rank_error}>");
                return false;
            }

            if(!info['needmaxrank']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_need_max_rank_error}>");
                return false;
            }

            if(!info['minhisrank']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_need_min_historic_error}>");
                return false;
            }

            if(!info['maxhisrank']){
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_award_need_max_historic_error}>");
                return false;
            }

            for(var i =1 ;i<=20;i++){
                if(!info['price'+i]){
                    ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_rank_price1k}>_"+i+"<{$Think.lang.preferential_award_no_fill_in_error}>");
                    return false;
                }else if (!info['award'+i]){
                    ShowErrorMsg('<{$Think.lang.public_prompt_information}>',"<{$Think.lang.preferential_rank_award}>_"+i+"<{$Think.lang.preferential_award_no_fill_in_error}>");
                    return false;
                }
            }
            ShowProgress("<{$Think.lang.notice_show_edit}>");
            $.post(
                "<{:U('preferentialEditPost')}>",
                temporary,
                function (data) {
                    HideProgress();
                    console.log(data);
                    var info  =  "<{$Think.lang.public_return_edit_error}>";
                    switch  (data){
                        case 2:info="<{$Think.lang.preferential_award_id_yes_error}>";break;
                    }
                    if(data==1){
                        ShowSuccessMsg('<{$Think.lang.public_prompt_information}>','<{$Think.lang.public_return_edit_success}>');
                        var tab = $('#preferential_goods').tabs('getSelected');
                        tab.panel('refresh', "<{:U('preferentialList')}>");
//                        tab.panel('refresh');
                    }else {
                        ShowErrorMsg('<{$Think.lang.public_prompt_information}>',info);
                        return false;
                    }
                }
            );


        });

//        $('#icon_uploads').filebox({
//            buttonText : '<{$Think.lang.identifier_info_upload}>',
//            onChange: function (n, o) {
//                flie_uploads(n);
//            }
//        });
    });

//    function flie_uploads(n) {
//        var files = $("input[name='icon']").prop('files');
//        var selectedFile = files[0];//获取读取的File对象
//        var name = selectedFile.name;//读取选中文件的文件名
//        var fileExtension = n.substring(n.lastIndexOf('.') + 1);
//        if (fileExtension != "png"&&fileExtension != "jpg") {
//            ShowErrorMsg('<{:l("public_prompt_information")}>','<{$Think.lang.preferential_award_flie_upload}>');
//            return false;
//        }
//        var formdata = new FormData($('#preferentialEditPost')[0]);
//
//        $.ajax({
//            url:"<{:U('upLoadOpen')}>",
//            type: "post",
//            data: formdata,
//            cache: false,
//            dataType: 'JSON',
//            asyunc: false,
//            processData: false,
//            contentType: false,
//            success: function(data) {
//                if(data.status==1){
//                    icon = "http://dl-bfc.four33.com/AUW/1024/Shop/"+name;
//                    $('#icon_upload_explain').html('*'+name);
//                    ShowSuccessMsg('<{:l("public_prompt_information")}>',data.info);
//                    return false;
//                }else {
//                    ShowErrorMsg('<{:l("public_prompt_information")}>',data.info);
//                    return false;
//                }
//                console.log(data)
//            },
//            error: function(e) {
//                console.log(e);
//            }
//        });
//
//    }

</script>