<form id="limitAddForm" method="post">
    <table  class="tab_style_table" style="width:100%;text-align:left;">
        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_id}></td>
            <td> <input name="activityid" value="0" type="text"  class="easyui-numberbox" data-options="required:true" readonly="readonly"/></td>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_show_order}></td>
            <td> <input name="showorder"  type="text"  class="easyui-numberbox" data-options="min:1,required:true"/></td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_lower_level}>（<{$Think.lang.public_info_steam_optional}>）</td>
            <td> <input name="lowlevel" type="text"  class="easyui-numberbox" data-options="min:1"/></td>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_high_level}>（<{$Think.lang.public_info_steam_optional}>）</td>
            <td> <input name="highlevel"  type="text"  class="easyui-numberbox" data-options="min:1" /></td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_low_hisscore}><br/>（<{$Think.lang.public_info_steam_optional}>）</td>
            <td> <input name="lowhisscore"  type="text"  class="easyui-numberbox" data-options="min:1" /></td>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_high_hisscore}><br/>（<{$Think.lang.public_info_steam_optional}>）</td>
            <td> <input name="highhisscore"  type="text"  class="easyui-numberbox" data-options="min:1" /></td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" style="width: 120px"><{:l("preferential_time_start")}>(UTC<{:l("content_api_time")}>)</td>

            <td> <input name="starttime" class="easyui-datetimebox"data-options="editable:false,showSeconds:true,required:true" style="width: 160px"/></td>

            <td class="tab_style_bgcolor"  style="width: 120px" ><{:l("preferential_time_end")}>(UTC<{:l("content_api_time")}>)</td>
            <td> <input name="endtime" class="easyui-datetimebox"data-options="editable:false,showSeconds:true,required:true"style="width: 160px" />

        </tr>


        <tr>
            <td class="tab_style_bgcolor" style="width: 120px"><{$Think.lang.activity_limit_title_text_id}></td>
            <td>
                <select  name="title"  id="title_id" class="easyui-combobox" validtype=""  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
                    <option value=""><{$Think.lang.public_use_no_choice}></option>
                    <foreach name="title_id" key="textid" item="textname" data-options="editable:false,panelHeight:'300'">
                        <option value="<{$textname}>"><{$textid}></option>
                    </foreach>
                </select>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_title}></td>
            <td >
                <textarea disabled="disabled" id="title_content"></textarea>
            </td>
        </tr>

        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_introduce_id}></td>
            <td>
                <select  name="introduce"  id="introduce_id" class="easyui-combobox" validtype=""  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
                    <option value=""><{$Think.lang.public_use_no_choice}></option>
                    <foreach name="introduce_id" key="textid" item="textname" data-options="editable:false,panelHeight:'300'">
                        <option value="<{$textname}>"><{$textid}></option>
                    </foreach>
                </select>
            </td>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_introduce}></td>
            <td >
                <textarea disabled="disabled" id="introduce_content"></textarea>
            </td>
        </tr>


        <tr>
            <td class="tab_style_bgcolor" ><{$Think.lang.activity_limit_img}></td>
            <td colspan="3">
                <input name="picname"  type="text"  class="easyui-textbox" data-options="required:true" style="width: 100%"/>
            </td>
        </tr>

        <for start="1" end="5" >
            <tr>
                <td class="tab_style_bgcolor" ><{$Think.lang.activity_exchange_id}>_<{$i*2-1}></td>
                <td>
                    <select  name="exchangeid<{$i*2-1}>"  class="easyui-combobox task-list" validtype=""  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
                    </select>
                </td>

                <td class="tab_style_bgcolor" ><{$Think.lang.activity_exchange_id}>_<{$i*2}></td>
                <td >
                    <select  name="exchangeid<{$i*2}>"  class="easyui-combobox task-list" validtype=""  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
                    </select>
                </td>
            </tr>
        </for>
    </table>
</form>
<script type="text/javascript">
    var getsystemdate = getsystemdata();
    $('.easyui-datetimebox').datetimebox({
        value: getsystemdate
    });
    //选择分类
    $(document).ready(function () {
        $("#title_id").combobox({
            onChange: function (n, o) {
                if (n == "") {
                    $("#title_content").val('');
                } else {
                    $("#title_content").val(n);
                }
            }
        });
        $("#introduce_id").combobox({
            onChange: function (n, o) {
                if (n == "") {
                    $("#introduce_content").val('');
                } else {
                    $("#introduce_content").val(n);
                }
            }
        });
    })

</script>
