
<!--datagrid列表-->
<div class="panel-header panel-header-noborder" ><{$title}></div>
<div class="panel-noscroll" title="" style="height: 96%; width: 100%; min-width: 1400px; ">
    <div class="easyui-tabs" id="limit_activity_page" style="width:100%;height:100%;">


        <div title="<{$Think.lang.activity_limit_list}>" style="padding: 10px; text-align: center;">
            <include file="activity_limit_list" />
        </div>
        <div title="<{$Think.lang.activity_task_list}>" style="padding:10px;text-align:center;">
            <include file="activity_task_list" />
        </div>


    </div>
</div>
<script type="text/javascript">
    $('#limit_activity_page').tabs({
        border:false,
        onSelect:function(title,index){
            console.log(title);
            if(title=="<{$Think.lang.activity_limit_list}>"){
                $('#limit_list').datagrid('reload');
            }else if(title=="<{$Think.lang.activity_task_list}>") {
                $('#task_list').datagrid('reload');
            }
        }
    });
</script>