<form id="serverAddFrom" method="post">
    <table  class="tab_style_table" style="width:100%;text-align:left;">
        <tr>
            <td><{$Think.lang.server_info_name}>:</td>
            <td> <input class="easyui-textbox" type="text" name="servername" data-options="required:true" /></td>
        </tr>
        <tr>
            <td><{$Think.lang.server_info_id}>:</td>
            <td> <input name="serverid" value="" type="text"  class="easyui-numberbox" data-options="min:0,required:true"  /></td>
        </tr>
    </table>
</form>