
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">玩家管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            玩家充值补偿添加 <div style="clear: both;"></div>
        </div>
        <div class="row" style="width: 100%">
            <div class="col-sm-6" style="width: 100%;" >
                <div class="dataTables_length" id="dataTables-example_length">
                    <label>订单号:
                        <div class="form-group input-group">
                            <input class="form-control" id="orderid" type="text" placeholder="订单号">
                        </div>
                    </label>
                    <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="select()"><i class="fa fa-search"></i>搜索</button>

                </div>
            </div>
        </div>
        <div class="container" STYLE="display: none" id="add">
            <form class="xq" action="{:U('PlayRMB/add')}" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
                <div class="lei">
                    <p>
                        <label><font>*</font>订单号：</label>
                        <input class ="sr" type="text" name="order" value="" id="order" readonly/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>用户id：</label>
                        <input class ="sr" type="text" name="uid" value="" id="uid" readonly/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>类别：</label>
                        <input class ="sr" type="text" name="type" value="" id="type" readonly/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>金额：</label>
                        <input class ="sr" type="text" name="money" value="" id="money" readonly/>
                    </p>
                </div>





                <input type="hidden" name="db_id" id="db_id">
                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
            </form>


        </div>

    </div>




</div>


<script type="text/javascript">








    function adds(itemid) {
        var itemid=itemid;
        var num=$("#it"+itemid).val();
        if(!num){
            alert("请输入数量")
            return false;
        }else{
            var a=itemid+":"+num;
            var goods_ids=$("#goods_ids").val();
            if(!goods_ids){
                $("#goods_ids").val(a);
            }else{
                var aa=goods_ids+";"+a;
                $("#goods_ids").val(aa);
            }
        }
    }

    function select(){
        var orderid=$("#orderid").val();

        if(!orderid){
            alert("请输入订单号!!!");
            return false;
        }else{
            var aj = $.ajax( {
                url:'{:U("PlayRMB/add")}',
                data:{
                    orderid:orderid,
                },
                type:'get',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data==-1) {
                        alert("订单不存在");

                    }else if(data==-2){
                        alert("订单已存在");
                    }else{
                        var obj=eval(data);
                        $("#add").show();
                        $("#order").val(data.cporderid);
                        $("#uid").val(data.uid);
                        $("#type").val(data.type);
                        $("#money").val(data.amount);
                        $("#db_id").val(data.db_id);




                    }
                }
            })
        }
    }
  

</script>
<include file="Public:footer"/>