
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">客服管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            {$data.name}活动新增 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Activity/add2')}" method="post" enctype="multipart/form-data" >
                <div class="lei">
                    <p>
                        <label><font>*</font>编号：</label>
                        <input class ="sr" type="text"  name="id" placeholder="{$data.id}"/>
                    </p>
                </div>

                <div class="lei">
                    <p>
                        <label><font>*</font>排序：</label>
                        <input class ="sr" type="text"  name="sort" placeholder="{$data.sort}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>模版类型：</label>
                        <input class ="sr" type="text"  name="type" placeholder="{$data.type}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动名：</label>
                        <input class ="sr" type="text"  name="name" placeholder="{$data.name}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>图片：</label>
                        <input class ="sr" type="text"  name="backicon" placeholder="{$data.backicon}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>美术文字：</label>
                        <input class ="sr" type="text"  name="nameicon" placeholder="{$data.nameicon}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>描述：</label>
                        <textarea name="dec" placeholder="{$data.dec}"></textarea>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动内部排序：</label>
                        <input class ="sr" type="text"  name="step" placeholder="{$data.step}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>文本：</label>
                        <input class ="sr" type="text"  name="txt" placeholder="{$data.txt}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>文本类型：</label>
                        <input class ="sr" type="text"  name="tasktypes" placeholder="{$data.tasktypes}"/>
                    </p>
                </div><div class="lei">
                <p>
                    <label><font>*</font>判断1：</label>
                    <input class ="sr" type="text"  name="n1" placeholder="{$data.n1}"/>
                </p>
            </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>判断2：</label>
                        <input class ="sr" type="text"  name="n2" placeholder="{$data.n2}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>判断3：</label>
                        <input class ="sr" type="text"  name="n3" placeholder="{$data.n3}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>判断4：</label>
                        <input class ="sr" type="text"  name="n4" placeholder="{$data.n4}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>奖励道具1-数量：</label>
                        <input class ="sr" type="text"  name="item1" placeholder="{$data.item1}" style="width: 20%"/>
                        <input class ="sr" type="text"  name="num1" placeholder="{$data.num1}" style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>奖励道具2-数量：</label>
                        <input class ="sr" type="text"  name="item2" placeholder="{$data.item2}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="num2" placeholder="{$data.num2}"style="width: 20%"/>
                    </p>
                </div><div class="lei">
                <p>
                    <label><font>*</font>奖励道具3-数量：</label>
                    <input class ="sr" type="text"  name="item3" placeholder="{$data.item3}"style="width: 20%"/>
                    <input class ="sr" type="text"  name="num3" placeholder="{$data.num3}"style="width: 20%"/>
                </p>
            </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>奖励道具4-数量：</label>
                        <input class ="sr" type="text"  name="item4" placeholder="{$data.item4}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="num4" placeholder="{$data.num4}"style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>消耗道具1-数量：</label>
                        <input class ="sr" type="text"  name="costitem1" placeholder="{$data.costitem1}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="costnum1" placeholder="{$data.costnum1}"style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>消耗道具2-数量：</label>
                        <input class ="sr" type="text"  name="costitem2" placeholder="{$data.costitem2}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="costnum2" placeholder="{$data.costnum2}"style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>消耗道具3-数量：</label>
                        <input class ="sr" type="text"  name="costitem3" placeholder="{$data.costitem3}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="costnum3" placeholder="{$data.costnum3}"style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>消耗道具4-数量：</label>
                        <input class ="sr" type="text"  name="costitem4" placeholder="{$data.costitem4}"style="width: 20%"/>
                        <input class ="sr" type="text"  name="costnum4" placeholder="{$data.costnum4}"style="width: 20%"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动开启时间：</label>
                        <input class ="sr" type="text"  name="start" placeholder="{$data.start}"/>注：0 为创建角色开启 大于0的整数为开服X天 时间格式：2006-01-02 15:04:05
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动持续时间（秒）：</label>
                        <input class ="sr" type="text"  name="continued" placeholder="{$data.continued}"/>注：0为持续永久
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动间隔时间（秒）：</label>
                        <input class ="sr" type="text"  name="cd" placeholder="{$data.cd}"/>注：0为不会重复出现
                    </p>
                </div><div class="lei">
                <p>
                    <label><font>*</font>活动展示及领奖时间：</label>
                    <input class ="sr" type="text"  name="show" placeholder="{$data.show}"/>
                </p>
            </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>每天是否刷新奖励：</label>
                        <input class ="sr" type="text"  name="renovate" placeholder="{$data.renovate}"/>注 0 不会 1 活动再次开启后重置活动进度和领取距离
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>活动开启后是否重置活动记录：</label>
                        <input class ="sr" type="text"  name="reset" placeholder="{$data.reset}"/>注：0不会 1 会
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>状态：</label>
                        <input class ="sr" type="text"  name="status" placeholder="{$data.status}"/> 注 1 开启 0 关闭
                    </p>
                </div>

                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定添加</button>
            </form>

        </div>

    </div>




</div>


<include file="Public:footer"/>