<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<LINK href="__ROOT__/Public/admin/css/admin.css" type="text/css" rel="stylesheet">
<LINK href="__ROOT__/Public/admin/css/sp.css" type="text/css" rel="stylesheet">

<script src="__ROOT__/Public/js/jquery-1.7.2.min.js"></script>

</HEAD>
<BODY>
	<div class="headr_bottom">
  
  <div class="header_place"><img src="__ROOT__/Public/admin/images/p_11.jpg">您当前所处位置：
  <span>申请公司管理</span>-&gt;<span>申请公司 新增</span></div>
</div>
<div class="container">
<h4>基础信息</h4>

	<form class="xq" action="{:U('Company/add')}" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
		<div class="lei">
			<p>
			<span>*</span>
			<span>原始密码：</span>
			</p>
			<input class ="sr" type="text" placeholder="" name="password" value=""/>
		</div>
		<div class="lei">
			<p>
			<span>*</span>
			<span>新增密码：</span>
			</p>
			<input class ="sr" type="text" placeholder="" name="password1"/>
		</div>
		
		<div class="lei">
			<p>
			<span>*</span>
			<span>再次确定：</span>
			</p>
			<input class ="sr" type="text" placeholder="" name="password2"/>
		</div>
		<div class="qdtj">
		<input class="ztj" type="button" onclick="edit()" value="确定修改" />
		</div>
	</form>
</div>

<script type="text/javascript">
	function edit(){
		var password=$("[name=password]").val();
		var password1=$("[name=password1]").val();
		var password2=$("[name=password2]").val();
		if(password =='' || password1==' ' || password2==' '){
			alert("信息不完整");
		}else if(password2 !==password1){
			alert("两次输入密码不一致");
		}else{
			var aj = $.ajax( {  
		      url:'{:U("Index/amend2")}', 
		      data:{  
		    	 password:password,
			password1:password1,
		    	},  
		     type:'get',  
		     cache:false,  
		     dataType:'text',  
		     success:function(data) { 
		    		if(data){
				
		    		if(data==1){
					alert("修改成功，重新登录");
					window.location.href= 'http://lvying.xianghunet.com/index.php?m=Admin&c=Login&a=index'
					}else{

					alert("修改失败");
				}
			    	}
		    		}
		 })

		}
	}
		
		</script>
</BODY>
</HTML>