<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <LINK href="__ROOT__/public/admin/css/admin.css" type="text/css" rel="stylesheet">
    <LINK href="__ROOT__/public/admin/css/sp.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="__ROOT__/public/admin/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="__ROOT__/public/admin/kindeditor/plugins/code/prettify.css" />
    <script src="__ROOT__/public/js/jquery-1.7.2.min.js"></script>
    <script src="__ROOT__/public/laydate/laydate.js"></script>

</HEAD>
<style>
    .lei p {
        display:inline-block;
        text-align: right;
        width:155px;
    }

</style>
<BODY>
<div class="headr_bottom">

    <div class="header_place"><img src="__ROOT__/public/admin/images/p_11.jpg">您当前所处位置：
        <span>系统管理</span>-&gt;<span>游戏新增</span></div>
</div>
<div class="container">
    <h4>基础信息</h4>

    <form class="xq" action="{:U('Clothes/edit')}" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
        <div class="lei">
            <p>
                <span>*</span>
                <span>游戏名称：</span>
            </p>
            <select class="dx" name="game_id" style="width: 200px;height: 30px">
                <volist name="list" id="vo">
                    <eq name="vo.game_id" value="$game_id">
                    <option value="{$vo.game_id}" selected="selected">{$vo.game_name}</option>
                        <else/>
                        <option value="{$vo.game_id}">{$vo.game_name}</option>
                    </eq>
                </volist>
            </select>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>区号 ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="clothes_num" value="{$arr.clothes_num}" id="clothes_num"/>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>区/服名称 ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="clothes" value="{$arr.clothes}" id="clothes"/>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>服务器开启时间 ：</span>
            </p>
            <input class ="sr" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" id="start_time" value="{$arr.start_time}" name="start_time">

        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>本地数据库名称 ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="localhost_db_name" value="{$arr.localhost_db_name}" readonly/>(命名之后不可修改)
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>外接数据库名称 ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="game_db_name" value="{$arr.game_db_name}" id="game_db_name"/>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>外接数据库连接/IP ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="game_db_host" value="{$arr.game_db_host}" id="game_db_host"/>
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>外接数据库端口号：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="game_db_port" value="{$arr.game_db_port}" id="game_db_port"/>
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>外接数据库用户名 ：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="game_db_user" value="{$arr.game_db_user}" id="game_db_user"/>
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>外接数据库密码：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="game_db_pwd" value="{$arr.game_db_pwd}" id="game_db_pwd"/>
        </div>


        <div class="lei">
            <p>
                <span>*</span>
                <span>IP：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="ip" value="{$arr.ip}" id="ip"/>
        </div>
        <div class="lei">
            <p>
                <span>*</span>
                <span>服务器端口：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="db_port" value="{$arr.db_port}" id="db_port"/>
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>服务器状态：</span>
            </p>
            <input class ="sr" type="text" placeholder="" name="status" value="{$arr.status}" id="status"/> 1:火爆  2：新服
        </div>

        <div class="lei">
            <p>
                <span>*</span>
                <span>是否推荐：</span>
            </p>
            <input  type="radio" placeholder="" name="type" value="0" checked="checked" /> 否
            <input  type="radio" placeholder="" name="type" value="1"/>是
        </div>


        <div class="qdtj">
            <input class="ztj" type="hidden" name="db_id" value="{$arr.db_id}"/>
            <input class="ztj" type="submit" name="sub" value="确定"/>
        </div>
    </form>
</div>
<script type="text/javascript">
    function toVaild(){
        var clothes_num=$("#clothes_num").val();
        var clothes=$("#clothes").val();
        var start_time=$("#start_time").val();
        var localhost_db_name=$("#localhost_db_name").val();
        var game_db_name=$("#game_db_name").val();
        var game_db_host=$("#game_db_host").val();
        var game_db_port=$("#game_db_port").val();
        var game_db_user=$("#game_db_user").val();
        var game_db_pwd=$("#game_db_pwd").val();
        var ip=$("#ip").val();
        var db_port=$("#db_port").val();
        var status=$("#status").val();

        if(clothes_num==null){
            alert("区号不可为空");
            return false;
        }else if(clothes==""){
            alert("服务器名称不可为空");
            return false;
        }else if(start_time==""){
            alert("开服不可为空");
            return false;
        }else if(localhost_db_name==""){
            alert("本地数据库不可为空");
            return false;
        }else if(game_db_name==""){
            alert("外接数据库名称不可为空");
            return false;
        }else if(game_db_host==""){
            alert("外接数据库连接IP不可为空");
            return false;
        }else if(game_db_port==""){
            alert(" 外接数据库端口号不可为空");
            return false;
        }else if(game_db_user==""){
            alert("外接数据库用户名不可为空");
            return false;
        }else if(game_db_pwd==""){
            alert("外接数据库密码不可为空");
            return false;
        }else if(ip==""){
            alert("ip不可为空");
            return false;
        }else if(db_port==""){
            alert("服务器端口不可为空");
            return false;
        }else if(status==""){
            alert("服务器状态不可为空");
            return false;
        }else{
            return true;
        }


    }
</script>
</BODY>
</HTML>