

<span><{$Think.lang.adjudication_info_server}>:</span>&nbsp;&nbsp;&nbsp;
<select   id="sanction_search" class="easyui-combobox" validtype=""  data-options="editable:false,panelHeight:'300'"  style="width: 100px" >
    <option value=""><{$Think.lang.public_use_no_choice}></option>
    <foreach name="server" item="servers" data-options="editable:false,panelHeight:'300'">
        <option value="<{$servers['serverid']}>"><{$servers['serverid']}></option>
    </foreach>
</select>

<a href="javascript:void(0);" class="easyui-linkbutton" onclick="sanction_query()" data-options="iconCls:'icon-search',plain:true"><{$Think.lang.public_search}></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="javascript:void(0);" class="easyui-linkbutton" onclick="sanction_ok()" data-options="iconCls:'icon-reload',plain:true"><{$Think.lang.adjudication_info_relieve}></a>

<!--数据表格 start-->
<div style="height: 95%;width: 100%; min-width: 1400px;">
    <table id="sanction"></table>
</div>
<!--数据表格 end-->

<script type="text/javascript">
    $(function () {
        $('#sanction').datagrid({
            url: "<{:U('sanctionCancellation')}>",
            fitColumns: true,
            fit: true,//自适应高度
            toolbar: '#sanction_query',
            columns:[[
                {field:'code',title:'<{$Think.lang.adjudication_info_code}>',width:200,align:'center'},
                {field:'serverid',title:'<{$Think.lang.adjudication_info_server}>',width:100,align:'center'},
                {field:'id',title:'<{$Think.lang.adjudication_info_role_id}>',width:200,align:'center'},
                {field:'name',title:'<{$Think.lang.adjudication_info_name}>',width:200,align:'center'},
                {field:'time',title:'<{$Think.lang.public_expiration_date}>',width:200,align:'center'}
            ]],
            singleSelect:true,//设置为 true，则只允许选中一行。
            pagination:true,//如果表格需要支持分页，必须设置该选项为true
            pageSize:10,   //表格中每页显示的行数
            pageList:[10],
            loadFilter: function(data){
                console.log(data);
                var info = 0;
                switch (data.rows){
                    case 2:info="<{$Think.lang.adjudication_return_query_error}>";break;
                    case 3:info="<{$Think.lang.adjudication_return_query_null}>";break;
                }
                if(info!=0){
                    ShowErrorMsg('<{:l("public_prompt_information")}>',info);
                }
                for (var i=0;i<data.rows.length;i++){
                    data.rows[i].code = UInt10To32(data.rows[i].id);
                }
                return data;
            },
            nowrap: false,
            striped: true,  //奇偶行是否使用不同的颜色
            loadMsg:'<{$Think.lang.public_data_load}>',
            method:'post',
        });
    });

    function sanction_query(){
        var value=$('#sanction_search').textbox('getValue');
        if(value==''){
            ShowErrorMsg('<{:l("public_prompt_information")}>','<{$Think.lang.cancellation_info_no}>');
            return false;
        }
        $('#sanction').datagrid({
            queryParams: {
                zoneid: value
            }
        })
    }
    
    function sanction_ok() {
        var row = $('#sanction').datagrid('getSelected');
        if(row==null){
            ShowErrorMsg('<{:l("public_prompt_information")}>','<{$Think.lang.sanction_return_no}>');
            return false;
        }else if (row.status=="<{$Think.lang.sanction_return_no_operation}>"){
            ShowErrorMsg('<{:l("public_prompt_information")}>','<{$Think.lang.public_use_normal}>');
            return false;
        }
        $.messager.confirm("<{$Think.lang.public_determine}>", "<{$Think.lang.sanction_return_relieve}>&nbsp:" + row.name + "&nbsp;<{$Think.lang.sanction_return_sanction}>", function (r) {
            if (r) {
                    ShowProgress("<{$Think.lang.public_show_relieve}>");
                    $.post(
                        "<{:U('setRequestUnlock')}>",
                        {
                            roleid:row.id,
                            isunlock:2,
                            rolecode:UInt10To32(row.id),
                            reason:"<{$Think.lang.adjudication_return_operation}>",
                        },
                        function (info) {
                            HideProgress();
                            if(info.status==0){
                                ShowSuccessMsg('<{$Think.lang.public_prompt_information}>',info.info);
                                return false;
                            }
                            var state =  JSON.parse(info);
                            if(state.code==100){
                                $.messager.alert('Info', "<{$Think.lang.sanction_return_relieve_success}>");
                            }else {
                                ShowErrorMsg('<{:l("public_prompt_information")}>','<{$Think.lang.sanction_return_relieve_error}>');
                            };
                            $('#sanction').datagrid('reload');
                        }
                    );
                }else {
                ShowErrorMsg('<{$Think.lang.public_prompt_information}>','<{$Think.lang.email_operation_can_not_be_empty}>');
                return false;
            }
        });
    }
    
</script>