<!DOCTYPE HTML public "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<LINK href="__ROOT__/public/admin/css/admin.css" type="text/css" rel="stylesheet">
<LINK href="__ROOT__/public/admin/css/sp.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="__ROOT__/public/admin/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="__ROOT__/public/admin/kindeditor/plugins/code/prettify.css" />
<script src="__ROOT__/public/js/jquery-1.7.2.min.js"></script>

</HEAD>
<BODY>
	<div class="headr_bottom">
  
  <div class="header_place"><img src="__ROOT__/public/admin/images/p_11.jpg">您当前所处位置：
  <span>后台用户管理</span>-&gt;<span><a>后台用户编辑</a></span></div>
</div>
<div class="container">
<h4>基础信息</h4>

	<form class="xq" action="{:U('User/edit')}" method="post" enctype="multipart/form-data">
		<div class="lei">
			<p>
			<span>*</span>
			<span>账号：</span>
			</p>
			<input class ="sr" type="text" placeholder="" name="user_name" value="{$list.user_name}"/>
		</div>
		<div class="lei">
			<p>
			<span>*</span>
			<span>密码：</span>
			</p>
			<input class ="sr" type="text" placeholder="" name="password" value="{$list.password}"/>
		</div>
		<div class="lei">
			<p>
			<span>*</span>
			<span>是否禁用：</span>
			</p>
			<select name="status" class ="sr" style="margin-left:0px">
				
				<if condition="$list.status eq 1">
				<option value="1" selected="selected">未禁用</option>
				<option value="0">已禁用</option>
			<else/>
			<option value="1">未禁用</option>
				<option value="0" selected="selected">已禁用</option>
			</if>
				
			</select>
		</div>
		<div class="lei">
			<p>
			<span>*</span>
			<span>可操作权限：</span>
			</p>
			<div style="width:703px;margin-left:140px">
				<volist name="ru" id="vo">
					<label class="checkbox-inline">
								  <input type="checkbox"  name="auth{$vo.id}" value="{$vo.id}">{$vo.title}
					</label>
				</volist>
			</div>
		</div>


		<div class="lei">
			<p>
				<span>*</span>
				<span>用户管理：</span>
			</p>
			<if condition="$list.user1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user1" value="1" checked="checked"><span style="width: 50px;" >增加</span>
				</label>
			<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>
			<if condition="$list.user2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>
			<if condition="$list.user3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="user3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>区服：</span>
			</p>
			<if condition="$list.clothes1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>
			<if condition="$list.clothes2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
			<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>
			<if condition="$list.clothes3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="clothes3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>游戏列表：</span>
			</p>
			<if condition="$list.game1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.game2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.game3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="game3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>系统公告：</span>
			</p>
			<if condition="$list.sysnotice1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.sysnotice2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.sysnotice3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="sysnotice3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>全服补偿奖励：</span>
			</p>
			<if condition="$list.reword1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.reword2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.reword3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="reword3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>管理员发邮件：</span>
			</p>
			<if condition="$list.email1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.email2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.email3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="email3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>邀请码：</span>
			</p>
			<if condition="$list.code1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code1" value="1" checked="checked"><span style="width: 50px;">礼包类别增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code1" value="1"><span style="width: 50px;">礼包类别增加</span>
				</label>
			</if>

			<if condition="$list.code2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code2" value="1" checked="checked"><span style="width: 50px;">邀请码查看</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code2" value="1"><span style="width: 50px;">邀请码查看</span>
				</label>
			</if>

			<if condition="$list.code3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code3" value="1" checked="checked"><span style="width: 50px;">礼包类别编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code3" value="1"><span style="width: 50px;">礼包类别编辑</span>
				</label>
			</if>

			<if condition="$list.code4 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code4" value="1" checked="checked"><span style="width: 50px;">邀请码新增</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code4" value="1"><span style="width: 50px;">邀请码新增</span>
				</label>
			</if>

			<if condition="$list.code5 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code5" value="1" checked="checked"><span style="width: 50px;">邀请码查找</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="code5" value="1"><span style="width: 50px;">邀请码查找</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>系统通知：</span>
			</p>
			<if condition="$list.snotice1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.snotice2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.snotice3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="snotice3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>

		<div class="lei">
			<p>
				<span>*</span>
				<span>公告配置：</span>
			</p>
			<if condition="$list.rnotice1 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice1" value="1" checked="checked"><span style="width: 50px;">增加</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice1" value="1"><span style="width: 50px;">增加</span>
				</label>
			</if>

			<if condition="$list.rnotice2 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice2" value="1" checked="checked"><span style="width: 50px;">删除</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice2" value="1"><span style="width: 50px;">删除</span>
				</label>
			</if>

			<if condition="$list.rnotice3 eq 1">
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice3" value="1" checked="checked"><span style="width: 50px;">编辑</span>
				</label>
				<else/>
				<label class="checkbox-inline" style="width: 5%">
					<input type="checkbox"  name="rnotice3" value="1"><span style="width: 50px;">编辑</span>
				</label>
			</if>

		</div>










		<div class="qdtj">
		<input class="ztj" type="hidden" name="id" value="{$list.id}"/>
		<input class="ztj" type="submit" name="sub" value="确定"/>
		</div>
	</form>
</div>

<script type="text/javascript">
window.onload = function() {
	var arr={$rus};
	for(var i=0;i<arr.length;i++){
			$("[name = auth"+arr[i].num+"]:checkbox").attr("checked", true);
	}
}
</script>
</BODY>
</HTML>