
<include file="Public:header"/>
<div id="page-wrapper">


	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">后台用户管理</h1>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			后台用户编辑 <div style="clear: both;"></div>
		</div>

		<div class="container">
			<form class="xq" action="{:U('User/edit')}" method="post" enctype="multipart/form-data" >
				<div class="lei">
					<p>
						<label><font>*</font>用户名：</label>
						<input class ="sr" type="text" placeholder="" name="user_name" value="{$list.user_name}"/>
					</p>
				</div>
				<div class="lei">
					<p>
						<label><font>*</font>权限：</label>
						<select name="auth" class ="sr" id="auth">
							<volist name="arr" id="vo">
								<eq name="vo['id']" value="$list.auth">
									<option value="{$vo.id}" selected="selected">{$vo.name}</option>
									<else/>
									<option value="{$vo.id}">{$vo.name}</option>
								</eq>

							</volist>
						</select>
					</p>
				</div>
				<div class="lei">
					<p>
						<label><font>*</font>是否禁用：：</label>
						<select name="status" class ="sr" style="margin-left:0px">

							<if condition="$list.status eq 1">
								<option value="1" selected="selected">未禁用</option>
								<option value="0">已禁用</option>
								<else/>
								<option value="1">未禁用</option>
								<option value="0" selected="selected">已禁用</option>
							</if>

						</select>

					</p>

				</div>

				<div class="lei">
					<p>
						<label><font>*</font>密码：</label>
						<input class ="sr" type="text" placeholder="" name="password" value="{$list.password}"/>

					</p>

				</div>


				<input class="ztj" type="hidden" name="id" value="{$list.id}"/>
				<button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
			</form>


		</div>

	</div>




</div>
<script>
    $(function() {
        $(window).bind("load resize", function() {
            var topOffset = 50;
            var width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }
            var height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        $("#side-menu>li").each(function () {
            $(this).click(function(){
                $(this).find('ul').slideDown();
                $(this).siblings().find('ul').slideUp();
            })
        })
    });
</script>

</body>
</html>