
<include file="Public:header"/>
<style>
.bootstrap-select.form-control:not([class*="col-"]){
width:62%  !important;
}
</style>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">客服管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            全服奖励修改 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Reward/edit')}" method="post" enctype="multipart/form-data" >
                <div class="lei">
                    <p>
                        <label><font>*</font>服务器列表：：</label>
                        起始区:<input type="text" style="width: 50px;" name="begin_clothes" value="{$arr.begin_clothes}" class ="sr"/>-终止区:<input type="text" style="width: 50px;"  name="end_clothes" value="{$arr.end_clothes}" class ="sr">
                    </p>
                </div>
		<div class="lei">
                    <p style="margin: 0 auto;">
                        <label ><font>*</font>渠道：</label>
			
                        <select id="maxOption2" class="selectpicker show-menu-arrow form-control " multiple  style="margin:0 auto;width:50%" onchange="gradeChange()" >
            			<volist name="qudao" id="vo">
			
					<option value="{$vo.name}">{$vo.name}</option>
			
                   		 </volist>
         			</select>
			<input type="hidden" name="creator" id="creator" value="{$arr.creator}" class="sr"/><br/>
                    </p>
                </div>

                <div class="lei">
                    <p>
                        <label><font>*</font>开始时间：</label>
                      <!--  <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  name="begin_time" class ="sr" value="{$arr.begin_time}">-->
			<input class="datainp" id="dateinfo" type="text" placeholder="请选择"  readonly name="begin_time" class ="sr" value="{$arr.begin_time}">
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>结束时间：</label>
                        <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  name="end_time"value="{$arr.end_time}"  class ="sr">
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>金钱：</label>
                        <input class ="sr" type="text" placeholder="不填默认为0" name="money" value="{$arr.money}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>钻石：</label>
                        <input class ="sr" type="text" placeholder="不填默认为0" name="acers" value="0"  value="{$arr.acers}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>等级范围：</label>
                        <input type="text" style="width: 50px;" name="blevel" value="{$arr.blevel}" class ="sr"/>-<input type="text" style="width: 50px;"  name="elevel" value="{$arr.elevel}" class ="sr">
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>道具：</label>
                        <textarea name="goods_ids" placeholder="物品ID:叠加数量,多个‘;’隔开(可选：1~10) 如：10001:1;10002:1" style="width:500px;height:150px;position: relative;">{$arr.goods_ids}</textarea>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>标题：</label>
                        <input class ="sr" type="text" name="title" value="{$arr.title}"/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>内容：</label>
                        <textarea name="content" style="width:500px;height:150px;position: relative;">{$arr.content}</textarea>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>发送者：</label>
                        <input class ="sr" type="text" name="sender" value="{$arr.sender}"/>
                    </p>
                </div>
                <input class="ztj" type="hidden" name="reward_id" value="{$arr.reward_id}"/>
                <if condition="$arr.status eq 1">

                    <else/>
                    <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
                </if>
            </form>
            <div class="row" style="width: 40%;margin-left: -236px;margin-top: -734px;">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTables-example_length">
                        <label>道具名称查找:
                            <!--<input class="form-control input-sm" id="search-user-input"  placeholder="" aria-controls="dataTables-example" type="search">-->
                            <div class="form-group input-group">
                                <input class="form-control" id="goods_name" type="text">
                                <span class="input-group-btn">
                                                <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="goodsselect()"><i class="fa fa-search"></i>搜索</button>
                                            </span>
                            </div>
                        </label>

                    </div>
                </div>
            </div>
            <div class="row" style="width: 40%;margin-left: -236px;    margin-top: -673px;">
                <div class="col-sm-12 table-responsive">

                    <table class="table table-striped  table-bordered table-hover dataTable " id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                        <thead  id="ahu">

                        </thead>
                        <tbody id="adu">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>




</div>
<script type="text/javascript">
    //jeDate.skin('gray');
	
    jeDate({
		dateCell:"#dateinfo",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})

    //alert("YYYY/MM".match(/\w+|d+/g).join("-"))
</script>

<script type="text/javascript">

  function gradeChange(){
var a=$("#maxOption2").val();
$("#creator").val(" ");
$("#creator").val(a);
       }

    function goodsselect(){
        var goods_name=$("#goods_name").val();

        var aj = $.ajax( {
            url:'{:U("Invitation/goodsselect")}',
            data:{
                goods_name:goods_name,
            },
            type:'get',
            cache:false,
            dataType:'text',
            success:function(data) {
                if(data!=null) {
                    var obj=eval(data);
                    var arr=new Array();
                    $("#adu").html("");
                    $("#ahu").html("");
                    var ru='<tr><td width="10%">道具ID</td><td width="10%">道具名称</td><td width="10%">描述</td></tr>'
                    $("#ahu").append(ru);
                    for(var i=0;i<obj.length;i++){
                        arr[i]="<tr> <td>"+obj[i].itemid+"</td><td>"+obj[i].itemname+"</td> <td>"+obj[i].itemdescription+"</td></tr>";
                    }
                    for (var i = 0; i < obj.length; i++) {
                        $("#adu").append(arr[i]);
                    }


                }
            }
        })
    }
</script>
<script type="text/javascript">
    function userselect() {
        var game_user_name=$("#game_user_name").val();
        var clothes=$("#clothes").val()
        var aj = $.ajax( {
            url:'{:U("Email/userselect")}',
            data:{
                game_user_name:game_user_name,
                db_id:clothes,
            },
            type:'get',
            cache:false,
            dataType:'text',
            success:function(data) {

                if(data!="[]") {

                    var obj=eval(data);
                    var arr=new Array();
                    $("#adu").html("");
                    $("#ahu").html("");
                    var ru='<tr><td width="10%">用户ID</td><td width="10%">用户名称</td><td width="10%">用户等级</td></tr>'
                    $("#ahu").append(ru);
                    for(var i=0;i<obj.length;i++){
                        arr[i]="<tr> <td>"+obj[i].uid+"</td><td>"+obj[i].uname+"</td><td>"+obj[i].level+"</td></tr>";
                    }
                    for (var i = 0; i < obj.length; i++) {
                        $("#adu").append(arr[i]);
                    }


                }else{
                    alert("查询信息错误")
                }
            }
        })
    }
</script>
<include file="Public:footer"/>