
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">增加后台权限</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            增加后台权限 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Auth/add')}" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
                <div class="lei">
                    <p>
                        <label><font>*</font>名称：</label>
                        <input type="text" name="name" class ="sr" id="names" value="">
                    </p>
                </div>
                <volist name="data" id="vo">
                <div class="lei">
                    <p>
                        <label><font>*</font>{$vo.title}：</label>

                            <input type="checkbox" name="auth{$key+2}"value="{$vo.id}">

                     </p>

                </div>
                </volist>
                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定</button>
            </form>


        </div>

    </div>




</div>
<script>
    $(function() {
        $(window).bind("load resize", function() {
            var topOffset = 50;
            var width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }
            var height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        $("#side-menu>li").each(function () {
            $(this).click(function(){
                $(this).find('ul').slideDown();
                $(this).siblings().find('ul').slideUp();
            })
        })
    });
</script>
<script type="text/javascript">
    function toVaild(){
        var name=$("#names").val();
        

        if(name==null){
            alert("名称不可为空");
            return false;
        }else{
            return true;
        }


    }
</script>
</body>
</html>