
<include file="Public:header"/>
<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">客服管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            活动增加 <div style="clear: both;"></div>
        </div>

        <div class="container">
            <form class="xq" action="{:U('Activity/add')}" method="post" enctype="multipart/form-data" >


                <div class="lei">
                    <p>
                        <label><font>*</font>csv文件：</label>
                        <input class ="sr" type="file" placeholder="活动csv表" name="file" value="" style="float: right;width:20% ;border: 0px;margin-right: 50% "/>
                    </p>
                </div>
             <!--   <div class="lei">
                    <p>
                        <label><font>*</font>类型：</label>
                        <input class ="sr" type="text" placeholder="匹配客户端" name="agid" value=""/>
                    </p>
                </div>
                <div class="lei">
                    <p>
                        <label><font>*</font>描述：</label>
                        <textarea name="dec" style="width:500px;height:150px;position: relative;"></textarea>
                    </p>
                </div>-->

                <button type="submit" name ="sub"class="btn btn-primary" style="margin:20px auto;display: block;">确定导入</button>
            </form>

        </div>

    </div>




</div>


<include file="Public:footer"/>