<include file="Public:header"/>

<div id="page-wrapper">


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">活跃用户等级分布</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            活跃用户等级分布趋势 <div style="clear: both;"></div>
        </div>

        <select style="margin-left: 0px; width: 10%;" onchange="choice(1)" id="clothes" class="btn btn-default">
            <option>...选择游戏服务器...</option>
            <volist name="clostu" id="vo">
                <eq name="vo.db_id" value="$db_id">
                    <option value="{$vo.db_id}" selected="selected">{$vo.clothes}</option>
                    <else/>
                    <option value="{$vo.db_id}">{$vo.clothes}</option>
                </eq>
            </volist>
        </select><input class="btn btn-default" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" id="stime" value="{$stime}">
        <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="idselect()"><i class="fa fa-search"></i>搜索</button>
        <button class="btn btn-default" id="search-operator-btn" type="button"  onclick="exl()">导出</button>
        <div id="show" style="font-size: 18px">
            0重:<input type="radio" name="test" value="0" style="width: 30px;height: 20px;" checked="checked"/>
            &nbsp;1重:<input type="radio" value="1"style="width: 30px;height: 20px;"name="test" />
            &nbsp;2重:<input type="radio" value="2"style="width: 30px;height: 20px;"name="test" />
            &nbsp;3重:<input type="radio" value="3"style="width: 30px;height: 20px;" name="test"/>
            &nbsp;4重:<input type="radio" value="4" style="width: 30px;height: 20px;"name="test"/>
            &nbsp;5重:<input type="radio" value="5" style="width: 30px;height: 20px;"name="test"/>
            &nbsp;6重:<input type="radio" value="6" style="width: 30px;height: 20px;"name="test"/>
            &nbsp;7重:<input type="radio" value="7" style="width: 30px;height: 20px;"name="test"/>
            &nbsp;8重:<input type="radio" value="8" style="width: 30px;height: 20px;"name="test"/>
            &nbsp;9重:<input type="radio" value="9" style="width: 30px;height: 20px;"name="test"/>
            <input type="button" value="确定" onclick="online()"/>
        </div>



        <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div id="chart1"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 table-responsive">

                        <table class="table table-striped  table-bordered table-hover dataTable " id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;" width="100%">
                            <thead>
                            <tr>
                                <td>等级</td>
                                <td>人数(占比)</td>
                            </tr>
                            </thead>
                            <tbody id="ad">
                            <volist name="data" id="vo">
                                <tr>
                                    <td width="10%">{$vo.level}</td>
                                    <td>{$vo.num}({$vo.nums}%)</td>

                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
    </div>




</div>
<script>
    var www_url="{$www_url}";

    function idselect() {
        var clothes=$("#clothes").val();
        var stime=$("#stime").val();

        if(clothes=="...选择游戏服务器..."){
            alert("请选择游戏服务器");
            return
        }else{
            location.href=www_url+"index.php?m=Home&c=ActivityLevel&a=index&db_id="+clothes+"&stime="+stime;
        }
    }
    function exl(){
        var clothes=$("#clothes").val();
        var stime=$("#stime").val();

        if(clothes=="...选择游戏服务器..."){
            alert("请选择游戏服务器");
            return
        }else{
            location.href=www_url+"index.php?m=Home&c=ActivityLevel&a=exl&db_id="+clothes+"&stime="+stime;
        }
    }
    function online(){
        $("#chart1").show();
        $("#chart1").html(" ");
        var obj=document.getElementsByName('test');
        var obj0 ='{$jsoBj0}';
        var obj1 ='{$jsoBj1}';
        var obj2 ='{$jsoBj2}';
        var obj3 ='{$jsoBj3}';
        var obj4 ='{$jsoBj4}';
        var obj5 ='{$jsoBj5}';
        var obj6 ='{$jsoBj6}';
        var obj7 ='{$jsoBj7}';
        var obj8 ='{$jsoBj8}';
        var obj9 ='{$jsoBj9}';

        for(var i=0; i<obj.length; i++){
            if(obj[i].checked) {
                var s=obj[i].value; //如果选中，将value添加到变量s中
                if(s==0){
                    var  arr=obj0;
                    var arr2="0重";
                }
                else if(s==1){
                    var  arr=obj1;
                    var arr2="1重";

                }else if(s==2){
                    var  arr=obj2;
                    var  arr2="2重";
                }else if(s==3){
                    var   arr= obj3;
                    var   arr2="3重";
                }else if(s==4){
                    var   arr= obj4;
                    var   arr2="4重";
                }else if(s==5){
                    var   arr= obj5;
                    var   arr2="5重";
                } else if(s==6){
                    var    arr= obj6;
                    var    arr2="6重";
                }else if(s==7){
                    var   arr= obj7;
                    var   arr2="7重";
                }else if(s==8){
                    var    arr= obj8;
                    var    arr2="8重";
                }else if(s==9){
                    var   arr= obj9;
                    var    arr2="9重";
                }

            }
        }

        var obj=arr;
        var obj = eval(obj);
        var stu=new Array();
        var rus= new Array();
        for (var i =0; i<obj.length; i++) {
            stu[i]=obj[i].num;

        }
        //  var a={$Stime};
        var maxN = eval("Math.max(" + stu.toString() + ")")+100;
        stu=stu.reverse();
        var data = [stu];
        var data_max = maxN; //Y轴最大刻度
        var line_title = [arr2]; //曲线名称
        var y_label = "人数"; //Y轴标题
        var x_label = "等级"; //X轴标题
        var x = [{$stu}]; //定义X轴刻度值
        var title = "这是标题"; //统计图标标题
        j.jqplot.diagram.base("chart1", data, line_title, "等级分布", x, x_label, y_label, data_max, 1);

    }
    var obj='{$jsoBj0}';
    var obj = eval(obj);
    var stu=new Array();
    var rus= new Array();
    for (var i =0; i<obj.length; i++) {
        stu[i]=obj[i].num;

    }
    //  var a={$Stime};
    var maxN = eval("Math.max(" + stu.toString() + ")")+100;
    stu=stu.reverse();
    var data = [stu];
    var data_max = maxN; //Y轴最大刻度
    var line_title = ["登录用户","B"]; //曲线名称
    var y_label = "人数"; //Y轴标题
    var x_label = "等级"; //X轴标题
    var x = [{$stu}]; //定义X轴刻度值
    var title = "这是标题"; //统计图标标题
    j.jqplot.diagram.base("chart1", data, line_title, "等级分布", x, x_label, y_label, data_max, 1);
    // 两分钟刷新
    setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒
        window.location.reload();//页面刷新
    },240000);

</script>
<include file="Public:footer"/>